@model MedicalOperation

<h1>Create</h1>

<hr />

<div class="row">

    <div class="col-md-4">

        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="Informations"></label>
                <input asp-for="Informations" />
            </div>

            <div class="form-group">
                <label asp-for="Appointments"></label>
                <select asp-for="SelectedAppointmentIDs" asp-items="ViewBag.AppointmentList" multiple></select>
            </div>

            <div class="form-group">
                <input type="submit" value="@sharedLocalizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>