@model Appointment

<h1>@sharedLocalizer["Schedule New Appointment"]</h1>

<hr />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>


<div class="row">
    <div class="col-4">
        <form asp-action="Create">
            <partial name="Shared/_form" />
           
            <div class="form-group">
                <input type="submit" value="@sharedLocalizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}