@model Appointment

<h1 class="text-danger">Delete</h1>


<h4>Appointment</h4>

<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="Delete">
            <partial name="Shared/_form" />

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>


        </form>

    </div>
</div>

@* @section Scripts {

    <script type="text/javascript" on-content-loaded="true">
        //Jquery
        $('textarea, select, input, input[type=checkbox]').prop('disabled', true);

        // Vanilla JS
        // document.querySelectorAll('textarea, select, input, input[type=checkbox]').forEach((element) => { element.disabled = true; });
    </script>

} *@