@model IEnumerable<Appointment>

@{
    bool isDriver = User.IsInRole(ASPNETMOD192Constants.ROLES.DRIVER);
}

<h1>@sharedLocalizer["Tomorrow Appointments"]</h1>

@(
Html.Grid(Model)
        .Build(columns =>
        {
            columns.Add(ap => ap.AppointmentNumber).Titled(sharedLocalizer["Appointment #"].Value);
            columns.Add(ap => ap.Date).Titled(sharedLocalizer["Date"].Value);
            columns.Add(ap => ap.Time).Titled(sharedLocalizer["Time"].Value);
            columns.Add(ap => ap.Client.Name).Titled(sharedLocalizer["Client"].Value);
            columns.Add(ap => ap.Staff.Name).Titled(sharedLocalizer["Staff"].Value);
            columns.Add(ap => ap.IsDone).Titled(sharedLocalizer["Is Done?"].Value)
                .RenderedAs(ap => (ap.IsDone ? sharedLocalizer["Yes"].Value : sharedLocalizer["No"].Value))
                .UsingFilterOptions(new[]
                {
                    new SelectListItem { Value = "true", Text = sharedLocalizer["Yes"].Value },
                    new SelectListItem { Value = "false", Text = sharedLocalizer["No"].Value },
                });


            columns.Add(ap => Html.ActionLink(sharedLocalizer["Details"].Value, "Details", new { id = ap.ID }, new { @class = "btn btn-primary" }));
        })
        .Filterable()
        .Sortable()
        .Empty(sharedLocalizer["No Data"].Value)
)

<a asp-action="SendEmailToTomorrowAppointments" class="btn btn-warning">@sharedLocalizer["Send Tomorrow Appointments E-mail"]</a> 