@model Staff

<h1>Edit</h1>

<h4>Staff</h4>

<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StaffNumber" class="form-label"></label>
                <input asp-for="StaffNumber" class="form-control" />
                <span asp-validation-for="StaffNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Birthday" class="form-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CellPhoneNumber" class="form-label"></label>
                <input asp-for="CellPhoneNumber" class="form-control" />
                <span asp-validation-for="CellPhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VATNumber" class="form-label"></label>
                <input asp-for="VATNumber" class="form-control" />
                <span asp-validation-for="VATNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Trade" class="form-label"></label>
                <select asp-for="Trade" class="form-control" asp-items="Html.GetEnumSelectList<Trade>()"></select>

                <span asp-validation-for="Trade" class="text-danger"></span>
            </div>

            <div id="form-group-specialty" class="form-group">
                <label asp-for="Specialty" class="form-label"></label>
                <select asp-for="Specialty" class="form-control" asp-items="Html.GetEnumSelectList<Specialty>()">
                    <option value="-1">@sharedLocalizer["Not Applicable"]</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" on-content-loaded="true">
        
        function visibleFormGroupSpecialty() {
            let selectedTrade = Number($("select#Trade").val());

            console.log(selectedTrade);

            let formGroupSpecialty = $("div#form-group-specialty");

            if (selectedTrade === @((int)Trade.Medic)) {
                formGroupSpecialty.css('visibility', 'visible');
            }
            else {
                formGroupSpecialty.css('visibility', 'hidden');
            }
        }

        $("select#Trade").change(visibleFormGroupSpecialty);


        visibleFormGroupSpecialty();
    
    </script>

}
